main {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.material-symbols-outlined {
    margin-right: 8px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 5
  }

.google-font-darkmode {
  color: black;
}

  .button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; /* adjust padding as needed */
  }

  .button-with-icon span {
    display: block;
  }

  html.dark {
    background-color: #212529; /* Tmavé pozadí */
    color: #ffffff; /* Světlý text */
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  html.dark .font-tittle {
    color: white !important; /* Barva textu pro tmavý režim */
  }

  html.dark .text-muted {
    color: #666666 !important; /* Barva textu pro tmavý režim */
  }

  html.dark .google-font-darkmode {
    color: #ffffff;
  }